<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Keiko Kamiya</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'first_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'first_app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'first_app/css/grayscale.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Keiko Kamiya</h1>
          
          <h2 class="text-white-50 mx-auto mt-2 mb-5">To create applications that enhance people's lives and promote equal access for all of humankind</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Full Stack Web Developer</h2>
            <p class="text-white-50">From dietitian, EKG technician, and nursing major to computer programming. I have always been passionate about technologies that improve people's lives where I developed my curiosity and creativity for coding. I serve as an executive committee for Association of Medical Professionals with Hearing Losses. I have also advocated and installed induction loop system technologies for better quality sound and access for those who rely on hearing aids.  I am trilingual in Spanish, English, and Japanese. My interests and hobbies involve exploring the great outdoors, drawing, playing music, and seeking wanderlust adventures. My other favorite subjects include psychology, astronomy, ecology, healthcare, and humanistic studies. My approach in life is to make someone's world a better place. </p>
          </div>
        </div>
        <img src="{% static 'first_app/img/leaf.gif' %}" class="img-fluid" style="width:70%" alt="leaf">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'first_app/img/bg-masthead.jpg' %}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Technical Skills</h4>
              <ul class="text-black-50 mb-0">
                <li>Languages: Python, Java, Javascript, Typescript, JPQL, CSS & HTML</li>
                <li>Frameworks: Flask, Django, Express, & Spring Boot</li>
                <li>Servers: Nginx, Gunicorn, Wsgi, Amazon EC2, Ubuntu, Node.js, Apache Tomcat, Pivotal tc Server & Apache Web Server</li>
                <li>Databases: MySQL, SQLite & NoSQL (MongoDB)</li>
                <li>Libraries: JQuery, JQueryUI, Python Channels, APIs, AJAX, NPM, Socket.io, Mongoose & JSTL</li>
                <li>Development Tools: MySQL Workbench, DB Browser for SQLite, Spring Tool Suite (STS), Postman, VS Code, Git Bash & Command Prompt</li>
                <li>Methodologies: OOP, MVC/MTV, Responsive Web Design, Rest APIs, Bcrypt, Jbcrypt, Java JDK, Validations, Authentications, Authorizations & Websockets</li>
                <li>Front-End: Angular, Bootstrap & Foundation</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BOZgloSlLm0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Natural Disasters Prepardness</h4>
                  <p class="mb-0 text-white-50">Application designed to help navigate through natural disasters for before, during, and after the event. It allows for users to be informed of each disaster type and a checklist of materials needed to pack for safety</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'first_app/img/ice.jpg' %}" style="width:100%" alt="ice">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Fight Climate Change</h4>
                  <p class="mb-0 text-white-50">Factors affecting climate change and course of actions the community can help make a difference. Forum for discussions on ways to contribute and sign-up for volunteer opportunities. Under construction, coming soon~</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Let's Connect</h2>
            
            

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fa fa-sticky-note text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Resume</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="https://drive.google.com/file/d/1QeMsgV-QDJLwKa5ufYdX3a1FF1WTnD4J/view?usp=sharing/" target="_blank">View</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="mailto:kkamiya0214@gmail.com">kkamiya0214@gmail.com</a></div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">(909) 714-5211</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/keiko-kamiya/" class="mx-2">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://www.facebook.com/keiko.kamiya.56" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://github.com/kelika86" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; keikokamiya.com 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'first_app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'first_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'first_app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'first_app/js/grayscale.min.js' %}"></script>

  </body>

</html>
